# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.sqlite3
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.env
*.env

# Django
staticfiles/
media/

# VSCode
.vscode/
frontend/node_modules/
users.json
shop/migrations/